body
{
    background-color: hsl(185, 75%, 39%);
    background-image: url("bg-pattern-top.svg"),url("bg-pattern-bottom.svg");
    background-position: left -400px top -500px ,bottom -600px right -300px;
    background-size: 900px, 900px;
    background-repeat: no-repeat,no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media (min-width: 668px)
{
#alignment
{
    position: relative;
    left: -150px;
}
}
@media (max-width: 420px)
{
    body
    {
        background-color: hsl(185, 75%, 39%);
        background-image: url("bg-pattern-top.svg"),url("bg-pattern-bottom.svg");
        background-size: 250px,300px;
        background-position: left -50px top -50px,bottom -200px right -100px;
        background-repeat: no-repeat,no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #alignment
    {
        position: relative;
        top: 40px;
        left: -125px;
    }
    .attribution
    {
        position: relative;
        bottom: -50px;
        right: -100px;
    }
}
@media (max-height: 420px)
{
    body
    {
        background-color: hsl(185, 75%, 39%);
        background-image: url("bg-pattern-top.svg"),url("bg-pattern-bottom.svg");
        background-size: 400px,400px;
        background-position: left -80px top -90px,bottom -80px right -90px;
        background-repeat: no-repeat,no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #alignment
    {
        position: relative;
        left: -135px;
        top: -30px;
    }
}
.details
{
    
    text-align: center;
}
.pro
{
    background-color: white;
    width: 350px;
    display: grid;
    grid-template-rows: 100px 40px 200px;
    border-radius: 10px;
    position: relative;
    left: 35%;
    top: 50px;
}
.profilepic
{
    padding: 0px 125px 0px 125px;
}
#a1
{
    border-radius: 50px;
    border-style: solid;
    border-width: medium;
    border-color: white;
}
#a2
{
    border-radius: 10px 10px 0px 0px;
}
hr
{
    color: rgb(248, 245, 245);
    width: 300px;
}

#stats
{
    display: grid;
    grid-template-columns: 120px 120px 120px;
    text-align: center;
}
